.main-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-image: url(img/bg.jpg);
}

.main-header-container {
	display: flex;
	flex-direction: row;
	width: 95%;
	margin: 30px;
	justify-content: flex-end;
	font-family: cursive;
}

.main-header {
	font-size: 62px;
	color: #d7faee;
	word-spacing: 5px;
}

.main-body {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	margin: 0 30px 51px 30px;
	align-items: flex-end;
}

.character-wheel {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 55%;
}

.img-container {
	height: 160px;
	width: 180px;
}

.home-littlefinger-img-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100px;
	width: 100px;
	margin: 0 0px 30px 140px;
}

.littlefinger-img {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-image: url(img/littlefinger.jpg);
	border-radius: 50%;
}

.fire-container {
	width: 165px;
	height: 33px;
	margin: 0 70px 0 0;
}

.fire-1 {
	display: flex;
	width: 100%;
	height: 100%;
	background-image: url(img/fire.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	transform: rotate(142deg);
}

/* .fire-2 {
	display: flex;
	width: 30%;
	height: 27%;
	background-image: url(img/fire.jpg);
	background-repeat: no-repeat;
	background-position: right;
} */

.middle-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-left: 80px;
	justify-content: space-around;
}

.home-tywin-img-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100px;
	width: 100px;
	margin: 25px 0 0 60px;
}

.tywin-img {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-image: url(img/tywin.jpg);
	background-position-x: 58%;
	border-radius: 50%;
}

.home-brienne-img-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100px;
	width: 100px;
	margin: 25px 0 0 0px;
}

.brienne-img {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	/* margin: 20px 0 0 115px; */
	background-image: url(img/brienne.jpg);
	background-size: cover;
	background-position: 53%;
	border-radius: 50%;
}

.home-tyrion-img-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100px;
	width: 100px;
	margin-top: 25px;
}

.tyrion-img {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-image: url(img/tyrion.jpg);
	background-position: top;
	background-size: 132% 198%;
	border-radius: 50%;
}

.sword-container {
	width: 70px;
    height: 260px;
}

.sword-1 {
	display: flex;
	width: 100%;
	height: 100%;
	background-image: url(img/sword.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-size: cover;
}
/* 
.sword-2 {
	display: flex;
	width: 30%;
	height: 27%;
	background-image: url(img/sword.jpg);
	background-repeat: no-repeat;
} */

.home-varys-img-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100px;
	width: 100px;
	margin: 95px 0 0 130px;
}

.varys-img {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-image: url(img/varys.jpg);
	background-size: cover;
	background-position: 53%;
	border-radius: 50%;
}