.main-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-image: url(img/bg.jpg);
}

.main-header-container {
	display: flex;
	flex-direction: row;
	width: 95%;
	margin: 30px;
	justify-content: flex-end;
	font-family: cursive;
	/* font-style: italic; */
}

.main-header {
	font-size: 62px;
	color: #d7faee;
	word-spacing: 5px;
}

.main-body {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 30px;
	align-items: flex-end;
}

.character-wheel {
	  display: flex;
		flex-direction: column;
    align-items: center;
		width: 50%;
    margin-right: 70px;
}

.img-container {
	height: 160px;
	width: 180px;
}

.littlefinger-img {
	display: flex;
	flex-direction: column;
	width: 56%;
	height: 60%;
	margin-left: 115px;
	object-fit: cover;
	background-image: url(img/littlefinger.jpg);
	border-radius: 50%;
}

.middle-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.brienne-img {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 69%;
	margin-left: 80px;
	background-image: url(img/brienne.jpg);
	background-size: cover;
	background-position: 53%;
	border-radius: 50%;
}

.tyrion-img {
	display: flex;
	flex-direction: column;
	width: 77%;
	height: 68%;
	margin-left: 80px;
	background-image: url(img/tyrion.jpg);
	background-size: cover;
	border-radius: 50%;
}



