.character-main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.img-text-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 40px;
}

.littlefinger-main-container {
    display: flex;
    width: 75%;
}

.littlefinger-img-container {
    height: 450px;
    width: 350px;
} 

.littlefinger-text {
    display: flex;
    width: 70%;
    font-family: cursive;
    font-size: 26px;
    line-height: 45px;
} 

.tywin-main-container {
    display: flex;
    width: 90%;
}

.tywin-img-container {
    height: 365px;
    width: 650px;
} 

.tywin-text {
    display: flex;
    width: 70%;
    font-family: cursive;
    font-size: 23px;
    line-height: 38px;
} 

.brienne-main-container {
    display: flex;
    width: 80%;
}

.brienne-img-container {
    height: 570px;
    width: 390px;
} 

.brienne-text {
    display: flex;
    width: 70%;
    font-family: cursive;
    font-size: 25px;
    line-height: 43px;
} 

.tyrion-main-container {
    display: flex;
    width: 80%;
}

.tyrion-img-container {
    height: 430px;
    width: 500px;
} 

.tyrion-text {
    display: flex;
    width: 70%;
    font-family: cursive;
    font-size: 25px;
    line-height: 43px;
}  


.varys-img-container {
    height: 430px;
    width: 500px;
} 

.varys-text {
    display: flex;
    width: 60%;
    font-family: cursive;
    font-size: 22px;
    line-height: 39px;
}        

.littlefinger-text-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(img/littlefinger-text.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}  

.tywin-text-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(img/tywin-text.jpg);
    background-repeat: no-repeat;
    background-position: center;
}  

.brienne-text-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(img/brienne-text.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}  

.tyrion-text-img {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-image: url(img/tyrion-text.jpg);
	background-position: 54%;
}    

.varys-text-img {
	display: flex;
	flex-direction: column;
	width: 100%%;
	height: 100%;
	margin: 0;
	background-image: url(img/varys-text.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}           
